/* styles.css */
@import "@voidzero-dev/vitepress-theme/src/styles/index.css";

@source "./**/*.vue";

/* Project specific branding colors */
/* :root[data-variant="viteplus"] {
  --color-brand: #6b1eb9;
}

:root.dark:not([data-theme])[data-variant="viteplus"],
:root[data-theme="dark"][data-variant="viteplus"] {
  --color-brand: var(--color-vite);
}

:root[data-theme="light"][data-variant="viteplus"] {
  --color-brand: #6b1eb9;
} */